.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 15px;
  background-image: url("https://previews.123rf.com/images/scenery1/scenery11612/scenery1161200167/67066995-cielo-azul-nubes-blancas-abstractas-cielos-naturaleza-con-textura-patr%C3%B3n-cielo-de-fondo-.jpg");
}
span{
  font-weight: bolder;
}

.weather{
  z-index: 20000;
  border: 1px solid blueviolet;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: rgba(0, 0,255, 0.3);


 
}

.elements{
  display: flex;

}

.elements img{
  width: 200px;
}

