.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 15px;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.xtrafondos.com%2Fwallpaper%2F3840x2400%2F4615-cielo-al-atardecer-reflejado-en-el-mar.html&psig=AOvVaw0sSFz3U9KxDJXX0j0FhSCh&ust=1649521227987000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCNC9-MjvhPcCFQAAAAAdAAAAABAG");
}
span{
  font-weight: bolder;
}

.weather{
  border: 1px solid blueviolet;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: rgba(0, 0,255, 0.05);


 
}

.elements{
  display: flex;

}

.elements img{
  width: 200px;
}

