.App {
  text-align: center;
   position: reltive;
  
}

.weather{
  border: 1px solid blue;
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 50%;
 
   margin: auto;
 
}

