.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 15px;
  background-image: url("https://images.unsplash.com/photo-1593060515353-4bb38808b431?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2llbG9zfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}
span{
  font-weight: bolder;
}

.weather{
  z-index: 20000;
  border: 1px solid blueviolet;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: rgba(0, 0,255, 0.3);


 
}

.elements{
  display: flex;

}

.elements img{
  width: 200px;
}

